<div class="login-header box-shadow">
    <div
        class="container-fluid d-flex justify-content-between align-items-center"
    >
        <div class="brand-logo">
            <a href="javascript:void()" [routerLink]="['/']" routerLinkActive="router-link-active" >
                <img src="assets/img/sparkling-green-logo-rectangle.PNG" alt="" />
            </a>
        </div>
        <div class="login-menu">
            <ul>
                <li><a href="javascript:void()" [routerLink]="['/auth/register']" routerLinkActive="router-link-active" >Register</a></li>
            </ul>
        </div>
    </div>
</div>
<div
    class="login-wrap d-flex align-items-center flex-wrap justify-content-center"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-7">
                <img src="assets/vendors/images/login-page-img.png" alt="" />
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="login-box bg-white box-shadow border-radius-10">
                    <div class="login-title">
                        <h2 class="text-center text-primary">Reset Password</h2>
                    </div>
                    <form [formGroup]="forgotForm">
                        <div class="input-group custom">
                            <input
                                type="email"
                                formControlName="email"
                                id="email"
                                value=""
                                [attr.readonly]="email_status != 'yet'  ? true : null"
                                class="form-control form-control-lg"
                                placeholder="Email"
                            />
                            <div class="input-group-append custom">
                                <span class="input-group-text"
                                    ><i class="icon-copy dw dw-user1"></i
                                ></span>
                            </div>
                        </div>
                        <div class="input-group custom" *ngIf="email_status == 'approved'">
                            <input
                                type="text"
                                formControlName="code"
                                value=""
                                [attr.readonly]="code_status != 'yet' ? true : null"
                                id="code"
                                class="form-control form-control-lg"
                                placeholder="Enter Code"
                            />
                            <div class="input-group-append custom">
                                <span class="input-group-text"
                                    ><i class="dw dw-coding"></i
                                ></span>
                            </div>
                        </div>
                        <div class="input-group custom" *ngIf="code_status == 'approved'">
                            <input
                                type="{{password_type}}"
                                formControlName="password"
                                value=""
                                id="password"
                                class="form-control form-control-lg"
                                placeholder="New Password"
                            />
                            <div class="input-group-append custom" (click)="setpassword_type()">
                                <span class="input-group-text"
                                    ><i class="dw" [ngClass]="{'dw-padlock1': password_type == 'password', 'dw-eye': password_type == 'text'}"></i
                                ></span>
                            </div>
                        </div>
                        <div class="input-group custom" *ngIf="password_status == 'VALID'">
                            <input
                                type="{{password_type}}"
                                formControlName="confirmationpassword"
                                value=""
                                id="confirmationpassword"
                                class="form-control form-control-lg"
                                placeholder="Retype Password"
                            />
                            <div class="input-group-append custom" (click)="setpassword_type()">
                                <span class="input-group-text"
                                    ><i class="dw" [ngClass]="{'dw-padlock1': password_type == 'password', 'dw-eye': password_type == 'text'}"></i
                                ></span>
                            </div>
                        </div>
                        <div>
                            <p>{{message}}</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group mb-0">
                                    <a *ngIf="!changed"
                                        class="btn btn-primary btn-lg btn-block"
                                        href="javascript:void()" (click)="submit($event)"
                                        >Submit</a
                                    >
                                </div>
                                <div *ngIf="!changed"
                                    class="font-16 weight-600 pt-10 pb-10 text-center"
                                    data-color="#707373"
                                >
                                    OR
                                </div>
                                <div class="input-group mb-0">
                                    <a
                                        class="btn btn-outline-primary btn-lg btn-block"
                                        href="javascript:void()" [routerLink]="['/auth/login']" routerLinkActive="router-link-active"
                                        >Login </a
                                    >
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>