.text-white{
    color: #fff;
  }

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  .mat-form-field{
    width: 100% !important;
  }

 
  .btn{
    border: 1px solid white;
  }
  
  .spacel{
    margin-right: 2px;
  }