.mat-mdc-list-item-icon {
    color: rgba(0, 0, 0, 0.54);
  }

  .pr-2{
    margin-right: 4px !important;
  }

  .point{
    cursor: pointer;
  }
  .mat-checkbox-layout .mat-checkbox-label {
    padding-top: 2px !important;
}
.mat-checkbox{
  margin-right: 10px !important;
}