.mat-mdc-list-item-icon {
    color: rgba(0, 0, 0, 0.54);
  }

  .pr-2{
    margin-right: 4px !important;
  }

  .point{
    cursor: pointer;
  }
  .mat-checkbox-layout .mat-checkbox-label {
    padding-top: 2px !important;
}
.mat-checkbox{
  margin-right: 10px !important;
  padding-top: 10px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}