<div class="card-box pb-10">
    <div class="clearfix mb-20 pd-20">
        <div class="pull-left">
            <div class="h5 mb-0">List Of Users</div>
            <div class="hg mb-0" *ngIf="showCreateForm">Create new User</div>
            <p>Total <code *ngIf="(users$ | async) as users">{{users.length}}</code></p>
        </div>
        <div class="pull-right">
            <a href="javascript:void()" class="btn btn-primary btn-sm scroll-click" (click)="closeForm($event)"
                rel="content-y" data-toggle="collapse" role="button" aria-expanded="true">

                <i class="fa fa-plus" *ngIf="!showCreateForm"></i>
                <i class="fa fa-step-backward" *ngIf="showCreateForm"></i>
                <span *ngIf="!showCreateForm" class="ml-2">Create</span>
                <span *ngIf="showCreateForm" class="ml-2">Back</span>
            </a>
        </div>
    </div>
    <div class="table-responsive" *ngIf="(users$ | async) as users">
        <table class="data-table table nowrap" *ngIf="!showCreateForm && users.length > 0">
            <thead>
                <tr>
                    <th class="table-plus">First & Last name</th>
                    <th>Email</th>
                    <th>Country</th>
                    <th>Phone</th>
                    <th>role</th>
                    <!-- <th class="datatable-nosort">Actions</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td class="table-plus">
                        <div class="name-avatar d-flex align-items-center">
                            <div class="avatar mr-2 flex-shrink-0">
                                <i class="dw dw-user1"></i>
                            </div>
                            <div class="txt">
                                <div class="weight-600">{{user.firstName}} {{user?.lastName}}</div>
                            </div>
                        </div>
                    </td>
                    <td>{{user.email}}</td>
                    <td>{{user.country}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.role}}</td>
                    <!-- <td>
                        <div class="table-actions">
                            <a href="#" data-color="#265ed7"
                                ><i class="icon-copy dw dw-edit2"></i
                            ></a>
                            <a href="#" data-color="#e95959"
                                ><i class="icon-copy dw dw-delete-3"></i
                            ></a>
                        </div>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center p-2" *ngIf="(users$ | async) as users">
        <p *ngIf="users.length < 1 && !showCreateForm">No user found</p>
    </div>
    
    <div *ngIf="showCreateForm" class="p-2">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-20">
                <app-user-create (hasSaved)="saveCompleted($event)"></app-user-create>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 mb-20">
                <div class="table-responsive" >
                    <table class="data-table table nowrap">
                        <thead>
                            <tr>
                                <th class="table-plus">First & Last name</th>
                                <th>Email</th>
                                <th>Country</th>
                                <th>Phone</th>
                                <th>role</th>
                                <!-- <th class="datatable-nosort">Actions</th> -->
                            </tr>
                        </thead>
                        <tbody *ngIf="(users$ | async) as users">
                            <tr *ngFor="let user of users">
                                <td class="table-plus">
                                    <div class="name-avatar d-flex align-items-center">
                                        <div class="avatar mr-2 flex-shrink-0">
                                            <i class="dw dw-user1"></i>
                                        </div>
                                        <div class="txt">
                                            <div class="weight-600">{{user.firstName}} {{user?.lastName}}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{user.email}}</td>
                                <td>{{user.country}}</td>
                                <td>{{user.phone}}</td>
                                <td>{{user.role}}</td>
                                <!-- <td>
                                    <div class="table-actions">
                                        <a href="#" data-color="#265ed7"
                                            ><i class="icon-copy dw dw-edit2"></i
                                        ></a>
                                        <a href="#" data-color="#e95959"
                                            ><i class="icon-copy dw dw-delete-3"></i
                                        ></a>
                                    </div>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>