
<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h4>Notification</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="javascript:void()" [routerLink]="['/admin/home/dashboard']" routerLinkActive="router-link-active" >Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Notification
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card-box pb-10">
            <app-notification></app-notification>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card-box pb-10">
            <h4 class="mb-2">Tickets</h4>
            <div class="form-group">
                <label>Message</label>
                <textarea class="form-control" rows="10" cols="50"></textarea>
            </div>
        </div>
    </div>
</div>
