
<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h4>Setting</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="javascript:void()" [routerLink]="['/admin/home/dashboard']" routerLinkActive="router-link-active" >Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Setting
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>Page content</p>
    </div>
</div>
