
<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h4>Department</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="javascript:void()" [routerLink]="['/admin/employee/all']" routerLinkActive="router-link-active" >Employee</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Department
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <app-department-list></app-department-list>
    </div>
</div>