<div class="row mt-4">
    <div class="col-12 p-2 mb-2" *ngIf="showTitle">
        <h3>Create A Job Position</h3>
    </div>
    <div class="col-md-12 p-2 mb-2 min-height-200px">
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length > 0">
            {{errorMessage}}
        </div>
        <!-- SmartWizard html -->
        <div id="smartwizardCreateOpening" *ngIf="newJobApplication.status == 'unsubmitted'">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{url}}#step-1">
                        <div class="num">1</div>
                        Personal Info
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url}}#step-2">
                        <span class="num">2</span>
                        Document
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url}}#step-3">
                        <span class="num">3</span>
                        Additional Info
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{url}}#step-4">
                        <span class="num">4</span>
                        Review
                    </a>
                </li>
            </ul>

            <div class="tab-content min-height-300px">
                <div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
                    <section>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label><span class="text-danger">*</span> <strong>Firstname:</strong>
                                            </label>
                                            <input type="text" class="form-control" name="firstName"
                                                placeholder="Firstname" [(ngModel)]="newJobApplication.firstName"
                                                required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label><span class="text-danger">*</span> <strong>Lastname:</strong>
                                            </label>
                                            <input type="text" class="form-control" name="lastName"
                                                placeholder="Lastname" [(ngModel)]="newJobApplication.lastName"
                                                required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label><span class="text-danger">*</span> <strong>Country:</strong> </label>
                                            <input type="text" class="form-control" name="country" placeholder="Country"
                                                [(ngModel)]="newJobApplication.country" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label><span class="text-danger">*</span> <strong>Phone:</strong> </label>
                                            <input type="text" class="form-control" name="phone" placeholder="Phone"
                                                [(ngModel)]="newJobApplication.phone" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label><span class="text-danger">*</span> <strong>Email:</strong> </label>
                                            <input type="text" class="form-control" name="email" placeholder="Email"
                                                [(ngModel)]="newJobApplication.email" required />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </section>
                </div>
                <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
                    <section>
                        <div class="row" *ngIf="position as open">
                            <div class="col-md-6" *ngFor="let opn of open.required_documents; let i=index;">
                                <div class="form-group">
                                    <label *ngIf="!doesExist('requiredUploads', getkey(opn))">{{opn}} <span
                                        class="text-secondary"><sup><small>*</small></sup></span></label>
                                    <label *ngIf="doesExist('requiredUploads', getkey(opn))"
                                        (click)="deleteFileInput('requiredUploads', getkey(opn))"
                                        class="pointer">{{doesExist('requiredUploads', getkey(opn))?.name}} <span
                                            class="text-danger">Remove</span> </label>
                                    <div class="custom-file"
                                        [ngClass]="{'d-none': doesExist('requiredUploads', getkey(opn))}">
                                        <input type="file" class="custom-file-input" name="{{getkey(opn)}}"
                                            id="photoOfApplication_{{getkey(opn)}}"
                                            (change)="handleFileInput($event, 'requiredUploads', getkey(opn))">
                                        <label class="custom-file-label">Upload</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" *ngFor="let opn of open.optional_documents; let i=index;">
                                <div class="form-group">
                                    <label *ngIf="!doesExist('optionalUploads', getkey(opn))">{{opn}} <span
                                            class="text-secondary"><sup><small>Optional</small></sup></span></label>
                                    <label *ngIf="doesExist('optionalUploads', getkey(opn))"
                                        (click)="deleteFileInput('optionalUploads', getkey(opn))"
                                        class="pointer">{{doesExist('optionalUploads', getkey(opn))?.name}} <span
                                            class="text-danger">Remove</span> </label>
                                    <div class="custom-file"
                                        [ngClass]="{'d-none': doesExist('optionalUploads', getkey(opn))}">
                                        <input type="file" class="custom-file-input" name="{{getkey(opn)}}"
                                            id="photoOptionalOfApplication_{{getkey(opn)}}"
                                            (change)="handleFileInput($event, 'optionalUploads', getkey(opn))">
                                        <label class="custom-file-label">Upload</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Cover Letter:</label>
                                    <angular-editor [config]="editorConfig" [placeholder]="'Enter text here...'"
                                        [(ngModel)]="newJobApplication.coverLetterTypeContent"></angular-editor>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
                    <section>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><span class="text-danger">*</span> Tell us how you found this job:</label>
                                    <select class="custom-select form-control" name="referredBy"
                                        [(ngModel)]="newJobApplication.referredBy">
                                        <option value="Male">Google Search</option>
                                        <option value="Zinder Ads">Zinder Ads</option>
                                        <option value="Facebook">Facebook</option>
                                        <option value="Twitter">Twitter</option>
                                        <option value="Instagram">Instagram</option>
                                        <option value="I recieved the job link from a friend">I recieved the job link
                                            from a friend</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="col-md-12">
                                <div class="form-group">
                                    <label><span class="text-danger">*</span> Public URL: </label>
                                    <input type="text" class="form-control" name="public_url" (ngModelChange)="valueChange($event)"
                                    [value]="public_url"  readonly required />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><span class="text-danger">*</span> Private URL :</label>
                                    <input type="text" class="form-control" name="private_url"
                                        [value]="private_url" readonly required />
                                </div>
                            </div> -->
                        </div>
                    </section>
                </div>
                <div id="step-4" class="tab-pane" role="tabpanel" aria-labelledby="step-4">
                    <section>
                        <h4>Review</h4>
                        <div class="p-10">
                            <div [innerHtml]="summary"></div>
                        </div>
                    </section>
                </div>

            </div>
            <button class="btn btn-success d-none" (click)="submit()" id="createEmployeeSubmitBtnHidden">Force
                Submit</button>
            <button class="btn btn-success d-none" (click)="resetConfirmation()" id="resetEmployeeFormBtnHidden">Force
                Reset</button>

            <!-- Include optional progressbar HTML -->
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        </div>
        <div *ngIf="newJobApplication.status == 'submitted'">
            <h3 class="mb-10">{{sucmes}}</h3>
            <div class="form-group">
                <label><span class="text-danger">*</span> <strong>Your Tracking URL:</strong>
                </label>
                <input type="text" class="form-control" readonly [value]="public_url"
                    required />
            </div>
        </div>
    </div>
</div>

<!-- success Popup html Start -->
<div class="modal fade" id="danger-modal" tabindex="-1" role="dialog" aria-labelledby="Are you sure?"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center font-18">
                <h3 class="mb-20">Are you sure?</h3>
                <div class="mb-30 text-center">
                    <span class="font-18">
                        <i class="icon-copy bi bi-trash-fill"></i>
                    </span>
                    <span class="font-18">
                        <i class="icon-copy bi bi-question-lg"></i>
                    </span>
                </div>
                You are about to clear all existing values in the form field, including including any uploaded file
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-success" (click)="reset()" data-dismiss="modal">
                    Yes, Reset
                </button>
            </div>
        </div>
    </div>
</div>
<!-- success Popup html End -->