.card-img{
    height: 70px !important;
}
.app_item{
    cursor: pointer;
}

.app_item:hover{
    opacity: 40%;
    cursor: pointer;
}
.active{
    border: 3px solid #20381c;
}

.lgbv{
    max-height: 100px;
    min-width: 30px;
    padding-top: 10px;
}

.sidebar-title{
    background: #021645;
}