
<div class="col-lg-3">
    <div class="brand">
        <a href="javascript:void()">
            CleanMe
            <!-- <img src="assets/img/logo.png" alt="Logo"> -->
        </a>
    </div>
</div>
<div class="col-lg-9">
    <div class="topbar">
        <div class="topbar-col">
            <a href="tel:+012 345 67890"><i class="fa fa-phone-alt"></i>+012 345 67890</a>
        </div>
        <div class="topbar-col">
            <a href="mailto:info@example.com"><i class="fa fa-envelope"></i>info@example.com</a>
        </div>
        <div class="topbar-col">
            <div class="topbar-social">
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    <div class="navbar navbar-expand-lg bg-light navbar-light">
        <a href="#" class="navbar-brand">MENU</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="javascript:void()" [routerLink]="['/client']" routerLinkActive="router-link-active"  class="nav-item nav-link active">Home</a>
                <a  href="javascript:void()" [routerLink]="['/client/about']" routerLinkActive="router-link-active" class="nav-item nav-link">About</a>
                <a  href="javascript:void()" [routerLink]="['/client/services']" routerLinkActive="router-link-active" class="nav-item nav-link">Service</a>
                <a href="javascript:void()" [routerLink]="['/admin']" routerLinkActive="router-link-active" class="btn" *ngIf="$user | async as user">{{user.firstName}} Dashboard</a>
                <a href="javascript:void()" [routerLink]="['/auth/login']" routerLinkActive="router-link-active" class="btn" *ngIf="!($user | async)">Book now</a>
            </div>
        </div>
    </div>
</div>