
<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h4>All Users</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="javascript:void()" [routerLink]="['/admin/user-role/records']" routerLinkActive="router-link-active" >User & Roles</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        All Users
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <user-widget></user-widget>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 mb-20">
        <app-user-list></app-user-list>
    </div>
</div>