<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h4>Job Applications</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="javascript:void()" [routerLink]="['/admin/file-manager/home']"
                            routerLinkActive="router-link-active">Recruitment</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Job Applications
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 pd-20 pt-10">
        <div class="card card-box m-2">
            <div class="card-body">
                <app-recruitment-application-list></app-recruitment-application-list>
            </div>
        </div>
    </div>
</div>