<div class="gallery-wrap">
    <ul class="row">
        <div class="col-md-3 pt-20">
            <h2><strong>Gallery</strong></h2>
        </div>
        <div class="col-md-6 text-left pt-20">
            <div class="form-group mb-0">
                <input type="text" class="form-control" name="searchKey"
                                                placeholder="Search For Document by name" 
                                                required />
            </div>
        </div>
        <div class="col-md-3 text-right pt-20">
            <div class="form-group mb-0">
                <select class="custom-select form-control form-control-sm " id="sort_gallary_id" name="sort">
                    <option value="date">Date (Recently Added)</option>
                    <option value="name">Name</option>
                    <option value="size">Size</option>
                </select>
            </div>
        </div>
        <div class="col-12 pb-20">
            <hr>
        </div>
        <li class="col-lg-4 col-md-6 col-sm-12">
            <div class="da-card box-shadow">
                <div class="da-card-photo">
                    <img src="assets/vendors/images/product-img1.jpg" alt="" />
                    <div class="da-overlay">
                        <div class="da-social">
                            <h5 class="mb-10 color-white pd-20">
                                Lorem ipsum dolor sit amet, consectetur adipisicing.
                            </h5>
                            <ul class="clearfix">
                                <li>
                                    <a
                                        href="assets/vendors/images/product-img1.jpg"
                                        data-fancybox="images"
                                        ><i class="fa fa-picture-o"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p class="pl-2"><small>Lorem ipsum dolor sit amet</small><br><small><strong>Created At:</strong> </small></p>
                </div>
            </div>
        </li>
        <li class="col-lg-4 col-md-6 col-sm-12">
            <div class="da-card box-shadow">
                <div class="da-card-photo">
                    <img src="assets/vendors/images/product-img2.jpg" alt="" />
                    <div class="da-overlay">
                        <div class="da-social">
                            <h5 class="mb-10 color-white pd-20">
                                Lorem ipsum dolor sit amet, consectetur adipisicing.
                            </h5>
                            <ul class="clearfix">
                                <li>
                                    <a
                                        href="assets/vendors/images/product-img2.jpg"
                                        data-fancybox="images"
                                        ><i class="fa fa-picture-o"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p class="pl-2"><small>Lorem ipsum dolor sit amet</small><br><small><strong>Created At:</strong> </small></p>
                </div>
            </div>
        </li>
        <li class="col-lg-4 col-md-6 col-sm-12">
            <div class="da-card box-shadow">
                <div class="da-card-photo">
                    <img src="assets/vendors/images/product-img3.jpg" alt="" />
                    <div class="da-overlay">
                        <div class="da-social">
                            <h5 class="mb-10 color-white pd-20">
                                Lorem ipsum dolor sit amet, consectetur adipisicing.
                            </h5>
                            <ul class="clearfix">
                                <li>
                                    <a
                                        href="assets/vendors/images/product-img3.jpg"
                                        data-fancybox="images"
                                        ><i class="fa fa-picture-o"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p class="pl-2"><small>Lorem ipsum dolor sit amet</small><br><small><strong>Created At:</strong> </small></p>
                </div>
            </div>
        </li>
    </ul>
</div>