<a href="javascript:void()" data-toggle="modal" class="btn-block" [attr.data-target]="'#bd-example-modal-lg-'+index"
    type="button">
    <i class="icon-copy dw dw-edit2" *ngIf="showIcon"></i> <span *ngIf="showLabel"></span>
    <small>View</small>
</a>

<div class="modal fade bs-example-modal-lg" [id]="'bd-example-modal-lg-'+index" tabindex="-1" role="dialog"
    [attr.aria-labelledby]="'myLargeModalLabel'+index" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel{{index}}">
                    Booking Information
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <div class="pd-20 card-box">
                    <h4 class="mb-30 h4"><mat-icon> location_on</mat-icon> {{booking?.name}}, {{booking?.postal}} , {{booking?.country}}</h4>
                    <p class="text-dark p-10">
                        <small>
                            This Order was booked at {{booking?.created_at | date}} of current status {{ booking?.status}} starts at {{ booking?.start | date}} ending at {{ booking?.end | date}} frequently {{booking?.frequency}} and was last updated at {{booking?.updated_at | date}} Booking Description {{booking?.description}} Address: {{booking?.name}}, {{booking?.postal}} , {{booking?.country}}
                        </small>
                    </p>
                    <hr>
                    <!-- <dl class="row">
                        <dt class="col-sm-3">Created At</dt>
                        <dd class="col-sm-9">
                            {{booking?.created_at | date}}
                        </dd>

                        <dt class="col-sm-3">Status</dt>
                        <dd class="col-sm-9">
                            <p>
                                {{ booking?.status | titlecase}}
                            </p>
                        </dd>

                        <dt class="col-sm-3">Begins At</dt>
                        <dd class="col-sm-9">
                            {{booking?.start | date}}
                        </dd>

                        <dt class="col-sm-3 text-truncate">
                            Ending At
                        </dt>
                        <dd class="col-sm-9">
                            {{booking?.end | date}}
                        </dd>

                        <dt class="col-sm-3 text-truncate">
                            How frequently?
                        </dt>
                        <dd class="col-sm-9">
                            {{booking?.frequency | titlecase}}
                        </dd>

                        <dt class="col-sm-3 text-truncate">
                            Pricing
                        </dt>
                        <dd class="col-sm-9">
                            £{{booking?.payment.amount}}
                        </dd>
                        <dt class="col-sm-3 text-truncate">
                            Cleaner
                        </dt>
                        <dd class="col-sm-9">
                            {{booking?.cleaner}}
                        </dd>

                        <dt class="col-sm-3 text-truncate">
                            Last Updated
                        </dt>
                        <dd class="col-sm-9">
                            {{booking?.updated_at | date}}
                        </dd>
                        <dt class="col-sm-3 text-truncate">
                            Description
                        </dt>
                        <dd class="col-sm-9">
                            <span class="wrap">
                                {{booking?.description}}
                            </span>
                        </dd>
                    </dl> -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-box">
                                <img class="card-img-top mx-h-300" src="assets/img/team-1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title weight-500">Cleaner Name</h5>
                                    <p class="card-text">
                                        Cleaner rating
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">

                            <div class="form-group">
                                <label>{{(isAdmin | async) ? 'Booking Status': 'Booking Request'}}</label>
                                <select class="form-control" *ngIf="cleaners$ | async as cleaners" name="cleaner"
                                    [(ngModel)]="bstatus">
                                    <option [value]="booking.status  | titlecase" selected>{{booking.status |
                                        titlecase}}</option>
                                    <option [value]="stat" *ngFor="let stat of statList">{{ stat | titlecase }}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Message</label>
                                <textarea [(ngModel)]="booking.request" class="form-control" name="message" rows="3" cols="3" placeholder="Optional Message"></textarea>
                                <p>Must be up to 10 characters</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="isAdmin | async as admin">
                        <label>Change Cleaner</label>
                        <select *ngIf="cleaners$ | async as cleaners" class="form-control" name="cleaner"
                            [(ngModel)]="booking.cleaner">
                            <option value="" selected>Assign Cleaner</option>
                            <option [value]="cleaner.id" *ngFor="let cleaner of cleaners">{{ cleaner.firstName |
                                titlecase }} {{ cleaner.lastName | titlecase }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm" [ngClass]="{'btn-outline-danger': !confirmed, 'btn-danger':confirmed}"
                    *ngIf="isAdmin | async as admin">
                    <a href="javascript:void()" data-color="#ffffff" class="text-dark" (click)="confirmed = true" *ngIf="!confirmed"><i class="icon-copy dw dw-delete-3"></i> Delete</a>
                    <a href="javascript:void()" data-color="#ffffff" class="text-white" data-dismiss="modal" (click)="deleteBooking($event)" *ngIf="confirmed"><i class="icon-copy dw dw-delete-3"></i> Yes, I want to delete</a>
                </button>
                    <span *ngIf="dispCounter && !dispCounter.response" class="text-secondary">Sending Email...</span>
                    <span *ngIf="dispCounter && dispCounter.response" class="text-success">{{dispCounter.message}}</span>
                <button *ngIf="(user$ | async) && !dispCounter"  type="button" class="btn btn-primary text-white btn-sm" (click)="mailInvoice()">Email Invoice</button>
                <button type="button" class="btn btn-success btn-sm" *ngIf="!(isAdmin | async ) && booking.request && booking.request.length > 10" (click)="updateBooking()">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>