<div class="row">
    <div class="col-md-12">
        <div class="table-responsive" *ngIf="(users$ | async) as users">
            <div class="row">
                <div class="col-md-2 pt-20">
                    <h2><strong>List Of Employees</strong></h2>
                </div>
                <div class="col-md-4 text-left pt-20">
                    <div class="form-group mb-0">
                        <input type="text" class="form-control" name="searchKey"  
                        placeholder="Search For Employee" required />
                    </div>
                </div>
                <div class="col-md-2 text-left pt-20">
                    <div class="form-group mb-0">
                        <select class="custom-select form-control form-control-sm" 
                        id="sort_cat_id_gender" name="gender">
                            <option value="" selected="">Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 text-right pt-20">
                    <div class="form-group mb-0">
                        <select class="custom-select form-control form-control-sm" 
                        id="sort_role_id" name="role">
                            <option value="" selected>Role</option>
                            <option value="name">Name</option>
                            <option value="size">Size</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 text-right pt-20">
                    <div class="form-group mb-0">
                        <select class="custom-select form-control form-control-sm" 
                        id="sort_cat_id" name="sort">
                            <option value="date">Date (Recently Added)</option>
                            <option value="name">Name</option>
                            <option value="size">Size</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 pb-20">
                    <hr>
                </div>
            </div>
            <table class="data-table table nowrap" *ngIf="users.length > 0">
                <thead>
                    <tr>
                        <th class="table-plus">First & Last name</th>
                        <th>Email</th>
                        <th>Country</th>
                        <th>Phone</th>
                        <th>Role</th>
                        <!-- <th class="datatable-nosort">Actions</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td class="table-plus">
                            <div class="name-avatar d-flex align-items-center">
                                <div class="avatar mr-2 flex-shrink-0">
                                    <i class="dw dw-user1"></i>
                                </div>
                                <div class="txt">
                                    <div class="weight-600">{{user.firstName}} {{user?.lastName}}</div>
                                </div>
                            </div>
                        </td>
                        <td>{{user.email}}</td>
                        <td>{{user.country}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.role}}</td>
                        <!-- <td>
                            <div class="table-actions">
                                <a href="#" data-color="#265ed7"
                                    ><i class="icon-copy dw dw-edit2"></i
                                ></a>
                                <a href="#" data-color="#e95959"
                                    ><i class="icon-copy dw dw-delete-3"></i
                                ></a>
                            </div>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center p-2" *ngIf="(users$ | async) as users">
            <p *ngIf="users.length < 1">No user found</p>
        </div>
    </div>
</div>