<!-- <ul class="row">
    <li class="col-12">
        <a href="#" class="row">
            <img src="assets/vendors/images/img.jpg" alt="" class="col-3" />
            <div class="col-9">
                <h3>John Doe</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed...
                </p>
            </div>
        </a>
    </li>
</ul> -->

<mat-accordion>
    <mat-expansion-panel *ngFor="let notify of notifications$ | async" (opened)="notify.status = 'seen'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{notify.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{notify.created_at | date}} {{notify.status}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{notify.message}}</p>
    </mat-expansion-panel>
  </mat-accordion>