<div class="left-side-bar" id="left-side-bar" [style.background-color]="(config$| async)?.sideNavColor">
    <div class="brand-logo">
        <a href="javascript:void()" (click)="website($event,'admin/home')">
            <img [src]="'assets/img/zinder_1.svg'" alt="" class="dark-logo lgbv" />
            <img
                [src]="'assets/img/zinder_1.svg'"
                alt=""
                class="light-logo lgbv"
            />
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordionmenu" #accordionmenu *ngIf="selectedApp">
                <li class="dropdown" ngbDropdown *ngFor="let m of menu.get(selectedApp.id)">
                    <a href="javascript:void()" (click)="navigateTo($event,m)" 
                    [ngClass]="{'active': activePage == m.name, 'no-arrow': m.children.length < 1}" 
                    class="dropdown-toggle">
                        <span [class]="m.icon"></span
                        ><span class="mtext">{{m.name}}</span>
                    </a>
                    <ul class="submenu">
                        <li *ngFor="let child of m.children"><a href="javascript:void()" (click)="navigateTo($event,child)" >{{child.name}}</a></li>
                    </ul>
                </li>
                 <!-- <li class="dropdown">
                    <a href="javascript:;" [ngClass]="{'active': activePage == 'Home'}" class="dropdown-toggle">
                        <span class="micon bi bi-house"></span
                        ><span class="mtext">Home</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="javascript:void()" (click)="website($event,'admin/home/dashboard')" >Dashboard</a></li>
                        <li><a href="javascript:void()" (click)="website($event,'admin/home/setting')">Account</a></li>
                        <li><a href="javascript:void()" (click)="website($event,'admin/home/notification')">Notification</a></li>
                    </ul>
                </li> -->
                <!-- <li class="dropdown" *ngIf="(isAdmin | async) || (isMaster | async)">
                    <a href="javascript:;" class="dropdown-toggle" [ngClass]="{'active': activePage == 'Users & Roles'}">
                        <span class="micon bi bi-file-person-fill"></span
                        ><span class="mtext">User & Role Management</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="javascript:void()" (click)="navigateTo($event, 'admin/user-role/records')">Records</a></li>
                        <li><a href="javascript:void()" (click)="navigateTo($event,'admin/user-role/all-roles')">All Roles</a></li>
                        <li><a href="javascript:void()" (click)="navigateTo($event,'admin/user-role/all-users')">All Users</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void()"  [ngClass]="{'active': activePage == 'Pricing'}" (click)="navigateTo($event, 'admin/pricing')" class="dropdown-toggle no-arrow">
                        <span class="micon bi bi-cash"></span
                        ><span class="mtext">Pricing</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle"  [ngClass]="{'active': activePage == 'Booking'}">
                        <span class="micon bi bi-calendar"></span
                        ><span class="mtext"> Bookings </span>
                    </a>
                    <ul class="submenu">
                        <li><a href="javascript:void()" (click)="navigateTo($event, 'admin/booking/records')">Create 
                            
                        </a></li>
                        <li><a href="javascript:void()" (click)="navigateTo($event, 'admin/booking/all')">All booking</a></li>
                    </ul>
                </li> -->
                <!-- <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-diagram-3"></span
                        ><span class="mtext">Services</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="javascript:void()" (click)="navigateTo($event, 'admin/user-role/records')">All Services</a></li>
                    </ul>
                </li> -->
                <li>
                    <div class="dropdown-divider"></div>
                </li>
                <li>
                    <div class="sidebar-small-cap">Extra</div>
                </li>
                <li>
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-file-pdf"></span
                        ><span class="mtext">Support</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="introduction.html">How To Use</a></li>
                    </ul>
                </li>
                
                <li>
                    <a href="javascript:void()" (click)="logout()" class="dropdown-toggle no-arrow">
                        <span class="micon bi bi-door-closed"></span
                        ><span class="mtext">Log out</span>
                    </a>
                </li>
                <li>
                    <a
                    href="javascript:void()" (click)="website($event, '')"
                        target="_blank"
                        class="dropdown-toggle no-arrow"
                    >
                        <span class="micon bi bi-layout-text-window-reverse"></span>
                        <span class="mtext"
                            >Our Website
                            <img src="assets/vendors/images/coming-soon.png" alt="" width="25"
                        /></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>