.footer{
    margin-bottom: 35px !important;
    background: linear-gradient(#1b3d4e, #080e1c, #011440), url(/assets/img/1c8883a….gif) !important;
    background-position: linear !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

