.bg-dark{
    background-color: #092403 !important;
}

.btn-outlinee-primary{
    border-color: #fff !important;
}

.activate{
    background-color: rgb(121 179 107 / 19%) !important;
    padding: 3px;
}